[submodule "site/fields/selector"]
	path = site/fields/selector
	url = https://github.com/storypioneers/kirby-selector.git
[submodule "site/fields/markdown"]
	path = site/fields/markdown
	url = https://github.com/JonasDoebertin/kirby-visual-markdown.git
[submodule "kirby"]
	path = kirby
	url = git@github.com:getkirby-v2/kirby.git
[submodule "panel"]
	path = panel
	url = git@github.com:getkirby-v2/panel.git
