body[data-template="print"]{
	button.print-button{
		position:absolute;
		top: 100px;
		left: 60px;
		outline:0; 
		background: $text-color;
	}

	hr {
	  border-top: 1px solid $text-color;
	  clear:both;
	  display:block;
	  width: 100%;               
	  // background-color:$text-color;
	  // height: 1px;
	}

	figure{
		page-break-inside: avoid;
		margin-top: 0.8cm;
		margin-left: auto;
    margin-right: auto;
    width: 98%;
		& + h3, & + h2, & + h4, & + p {
			margin-top: 0.8cm;
		}
		img{
			max-height: 14cm;
			margin: auto;
		}
	}
	h2{
		margin-bottom: 1rem;
	}
	h3, h4{
		font-size: 1.3rem;
		padding-left: 1cm;
		margin-top: 1cm;
	}

	p{
		//font-size: rem-calc(19);
		line-height: 1.2;
		//text-align: justify;
	}

	p + p strong{
		//padding-left: 2rem;
	}

	// p a:only-of-type{
	// 	display:none;
	// }


	figure + h6{
		text-align: left;
		margin-bottom: 2rem;
		width: 80%;
	}

	main{
		width: 15cm;
		margin: auto;
		padding: 0;
		margin-top: -0.1cm;
	}
 .page{
	 	height: 23cm;
	 	page-break-after:always;
	 	h2{
	 		font-size: rem-calc(35);
	 	}
 }

 .cover{
 	.cover-wrapper{
 		position:relative; 
 		top: 0;
 		h1{
 			font-size: rem-calc(46);
 			border: 4px solid $vert;
 			padding: 0.2cm 0.2cm 0.5cm 0.2cm;
 			background: #FFF;
 			text-align: center;
 			//transform: rotate(-10deg);
 			//box-shadow: 0px 0px 30px #FF2E74;
 		}
 		.auteur{
 			position:relative; 
 			p{
 				line-height: 1.4;
 			}
 			// left: 50%;
 		}
 	}
 }

 .garde{
 	position: relative;
 	p{
 		position:absolute;
 		bottom: 0;
 		right:0;
 	}
 }

.sommaire{
	h2{
		margin-bottom: 1.5cm;
	}
	p{
		font-size: 1.6em;
		display:flex;
		.num-page{
			font-weight: bold;
			display: inline-block;
   	 	width: 1cm;
    	text-align: right;
		}
		.nom-page{
			padding-left: 2cm;
			width: 14cm;
		}
	}
}

 .texte{
 	page-break-after:always;
 	hr + p a{
 		display:none;
 	}
 }

 .pause{
 	.image-wrapper{
 		width: 70%;
 		padding-top:8cm;
 		margin:auto;
 		position:relative;
 	}
 }
  .backcover{
  	.image-wrapper{
	 		width: 100%;
	 		top:50%;
	 		transform:translateY(-50%);
	 		position:relative;
	 	}
  }

 .mini-dico{
 	//page-break-before:always;
 }
 .left-col{
 	width: 4cm;
 	display:inline-block;
 	vertical-align: top;
 	margin-top: 0.2cm;
 	//page-break-before:always;
 }

 .definition.definition-item{
 		// page-break-after:always;
 		width: 10cm;
		display:inline-block;
		vertical-align: top;
		 &[data-quotes="non"]{
	    hr{
	      display:none;
	    }
	    .definition-text{
	      blockquote{
	        display:none;
	      }
	    }
	  }
 		.inner-definition{

 			h2{
 				&::before{
 					content: "Spectateur-";
 					display:block;
 				}
 			}
 			p{
 				text-align: left;
 			}
 		}
 }

 .letter{
 	margin-bottom: 1cm;
 	.inner-definition{
 		border: 4px solid $vert;
 		color: $vert;
	 	font-size: 100px;
	 	height: 150px;
	 	width: 140px;
	 	line-height: 1.4;
	 	text-align:center;
 	}
 }
 .credits{
 	p{font-size: rem-calc(18);}
 	h2 + p a{
 		display:none;
 	}
 }
 .colophon{
 	color: #000;
 	font-size: rem-calc(15);
 	margin-top: 4rem;
 }

 .logos{
 		position:relative;
	 	.image-wrapper{
	 		position:relative;
	 		right:0cm; 
	 		top: 13cm;
	 		width: 100%;
	 		img{
	 			width:100%;
	 		}

	 	}
 }
 	.print-title-subpage{
		font-size: 2em;
	}
}

@media print{

	@page{
		// size: A4; 
		orientation: portrait;
		margin: 14mm 15mm 14mm 15mm;
	}

	.print-title-subpage{
		font-size: 2em;
		page-break-before: always;
	}


	header, nav, button.print-button{
		display:none;
	}
	 .edito{
	 	position: relative;
	 	.logo-wrapper{
	 		position:absolute;
	 		top: 19.5cm;
	 	}
	 }
}
