// I M P O R T

@import "_foundation.scss";
@import "_font-awesome.scss";
@import "_variables.scss";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family:$font-family;
    color:$text-color;
    font-size: 16px;
}

h1, h2, h3{
  font-family:$font-family;
  color:$text-color;
  line-height: 1.2;
}

a {
    color: $text-color;
    text-decoration: none;
    &:hover {
        color:$text-color;
    }
    &:visited {
        color:$text-color;
    }
}

hr {
    background-color: $text-color; 
    height: 1px; 
    border: 0;
}

h2 {
    @include subtitle;
}

p {
    @include currentText;
}

ul li {
    list-style: none;
}

ul {
    padding: 0;
    margin: 0;
}

/* HEADER ET NAV - snippet menu.php*/ 
nav.menu{
  position: fixed; 
  z-index: 1000;
  top: 0;
  padding: 1em; 
  > ul{
    display: flex;
    > li{
      flex: 1 1 100%;
      display: block;
      text-align: center;
      > a {
        @include title;
      }
      &:hover, &.active{
        border-bottom: 3px solid $vert;
      }
      &:hover .submenu {
        display: block;
      }
      .submenu{
        display:none;
        margin-left:0;
        background:#FFF;
        padding: 1em;
        border-bottom: $box-border;
        border-left: $box-border;
        border-right: $box-border;
        
        li {
          text-align: left;
          margin-bottom: 0.3em;

          a {
              &:hover{
                text-decoration:underline;
              }
          }
        }
      }
    }
  }
}


@media #{$small-only}{
    .buttonmenu {
        max-width: 50px;
        border: 5px solid rgb(0, 255, 154);
        padding: 5px;
        right: 12px;
        top: 50%;
        div {
            width: auto;
            height: 4px;
            border-radius: 3px;
            background-color: $text-color;
            margin: 6px 0;
        }
    }
    #buttonmenu:target {
        display: block;
        position: absolute;
    }

    #menu {
        display: none;
    }
}

header{
  position:fixed; 
  z-index: 1; 
  bottom: 1.5em;
  left:1.5em;
  .logo-wrapper{
  }
}

/*END HEADER ET MENU*/

// Style qu'on retrouve sur plusieurs pages
.close-button{
    font-family:helvetica, sans-serif; 
    color: $rouge;
    font-size: 1.3em;
    position:absolute;
    top:0;
    right: 10px;
    cursor: pointer;
}

// HOME - home.php
body[data-template="home"]{
  .logo-wrapper-home{
    margin-top: 3rem;
  }
  .citation-wrapper{
    border: $box-border;
    background: #FFF;
    @include boxShadow($rouge);
    position: absolute; 
    padding: 1em;
    z-index: 999;
    cursor: move;
    p{
        font-size: 1.5em;
        margin-bottom: 0;
    }
  }
}

/* TEXTE AVANT PROPOS*/
.text-wrapper {
    border: $box-border;
    padding: 20px;
    display: block;
    margin-bottom: 100px;
    background-color: #FFFFFF;
    // h1 {
    //     display: none;
    // }
    // p {
    //     @include anchorText;
    //     a {
    //       @include highlightLink;
    //     }
    //     a:hover {
    //         color: $vert;
    //     }
    // }
}

main{
  margin-top: 100px;
}

/* SNIPPET BREADCRUMB - */
nav.breadcrumb {
    //margin-top: 100px;
    padding: 0;
    display: inline-block;
    ul {
        margin: 0;
        background-color: $vert;
        display: flex;
        padding: 0 10px 3px 10px;
    }
    li { 
        margin-left: 3px;
        a {
            @include tinyText;
        }
    }
}
/*-- END BREADCRUMB --*/

#subpage {
    margin: 24px 0px 24px 0px;
    li {
        list-style-type: none;
        margin: 20px 6px 0px 6px;
        display: inline-block;
        a {
            font-family: $font-family;
            font-size: 16px;
            color: $text-color;
            padding: 2px 15px 2px 15px;
            background-color: $vert;
        }
    }
}


#textlabo {
    border: $box-border;
    padding: 20px;
    margin-bottom: 12px;
    background-color: #FFFFFF;
    h1, h2 {
        display: none;
        width: 0;
    }

    strong {
        font-family: $font-family;
        font-size: 30px;
        color: $text-color;
    }
    p {
        font-family: $font-family;
        font-size: 20px;
        color: $text-color;
    }
    h6 {
        font-family: $font-family;
        font-size: 18px;
    }
    a {
        color: $text-color;
        border-bottom: 2px solid $vert;
    }
}

.ressources {
    div {
        background-color: $text-color;
        max-width: 80%;
        margin: auto;
        margin-top: 24px;
        margin-bottom: 24px;
        vertical-align: middle;

    }
    img {
        mix-blend-mode: luminosity;
    }
}



#labodefinition {
    max-width: 73.5%;
    li {
        height: 220px;
        border: $box-border;
        padding: 5px 10px 5px 10px;
        z-index: 1;
        background-color: #FFFFFF;
        overflow: hidden;
        margin: 12px;
        list-style: none;
        display: inline-block;
        &:hover {
            box-shadow: 0px 0px 30px #FF2E74;
        }
        h1 {
            display: none;
        }
        h2 {
            font-family: $font-family;
            font-weight: bold;
            font-size: 22px;
            color: $text-color;
        }
        p {
            position: relative;
            font-family: $font-family;
            font-size: 16px;
            color: $text-color;
            background-color: #FFFFFF;
        }
        img {
            width: 80%;
            vertical-align: center;
        }
    }
}
/* --- */
/* CREDITS */
#credits {
    border: $box-border;
    padding: 20px;
    margin-top: 24px;
    margin-bottom: 100px;
    background-color: #FFFFFF;
    p {
        font-family: $font-family;
        font-size: 20px;
        color: $text-color;
    }
}



/* PAGE DEFINITIONS -- definition.php*/
body[data-template="definitions"], body[data-template="labo"] {
  main{
    .left-sidebar{
      position:fixed;
      z-index: 10;
      .inoff-button, .abc{
        > div{
          border: $box-border;
          display:inline-block;
          vertical-align: top;
          padding: 0.5em 1em;
          cursor: pointer;
          font-weight: bold;
          font-size: 1.3em;
          &.active, &:hover{
            background:$vert;
          }
        }
      }
      .abc{
        width: 120%;
        margin-top: 0.5em;
        ul{
          border: $box-border;
          padding: 1em 0em 0.2em 1em;
          background-color:#FFF;
          margin-top: -3px;
          display:none;
          li{
            display:inline-block;
            vertical-align: top;
            //cursor: pointer;
            font-weight: bold;
            font-size: 1.3em;
            //padding: 0 0.5em;
            text-align: center;
            width: 30px;
            margin-bottom: 30px;
            a:hover{
              color: $rouge;
            }
          }
        }
      }
    }
    ul {
      > li {
        margin-bottom: 1.8em;
        .inner-definition{
          background: #FFF;
          border: $box-border; 
          cursor: pointer;
          height: 200px;
          overflow:hidden;
          padding: 10px 18px;
          p {
            margin-top: 15px;
          }
          img {
              width: 80%;
          }
        }

        &.letter{
          .inner-definition{
            font-size: 7rem;
            text-align: center;
            line-height: 1.2;
            color: $rouge;
          }
        }
      }
      .loadPage{
        position:absolute;
        height:auto;
        top: 0;
        left:0;
        display:none;
        z-index: 999;
        background: #FFF;
        padding: 1em 2em; 
        border: $box-border;
        @include boxShadow($rouge);
        h1{
          font-size: 2em;
          font-weight:bold;
          line-height: 1;
          margin-top: 0;
          margin-bottom: 0.5em;
        }
      }
    }
  }
}

/* PAGE DEFINITIONS -- page.php*/
#content-def {
    position: absolute;
    display: block;
    border: 1px solid blue;
    padding: 5px 10px 5px 10px;
    z-index: 1;
    background-color: #FFFFFF;
    h1 {
        font-family: $font-family;
        font-weight: bold;
        font-size: 30px;
        color: $text-color;
        background-color: #FFFFFF;
    }
    p {

        font-family: $font-family;
        font-size: 16px;
        color: $text-color;
        background-color: #FFFFFF;
    }
    h6 {
        padding-left: 45px;
    }

}

#info-def { /* id -> devrait être une classe ?*/

    font-family: $font-family;
    p {
        color: #000000;
        display: inline;
    }
    ul {
        margin-left: 0;
        li {
            list-style: none;
            display: inline;
            a {
                font-family: $font-family;
                color: $text-color;
                border-bottom-width: 2px;
                border-bottom-style: solid;
                border-bottom-color: rgb(0, 255, 154);
            }
        }
    }
}

