// I M P O R T

@import "_foundation.scss";
@import "_font-awesome.scss";
@import "_variables.scss";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family:$font-family;
    color:$text-color;
    font-size: 16px;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6{
  font-family:$font-family;
  color:$text-color;
  line-height: 1.2;
}

a {
  color: $text-color;
  text-decoration: none;
  &:hover {
      color:$text-color;
  }
  &:visited {
      color:$text-color;
  }
  &.active{
    text-decoration: underline;
  }
}

hr {
    background-color: $text-color;
    height: 1px;
    border: 0;
}

h1{
  margin-bottom: 0.5em;
}

h2 {
    @include subtitle;
}

h3{
  font-size: 1.3rem;
  font-weight: bold;
  padding-left: 2em;
  margin-bottom: 0;
}

h6{
  font-size:0.8rem;
  color: #000;
}

blockquote{
  border:none;
  padding-left: 2em;
  padding-top:0;
  p, h6{
    color: $text-color;
  }
}

img{
  //width: 100%;
}

p {
    @include currentText;
}

ul li {
    list-style: none;
}

ul {
    padding: 0;
    margin: 0;
}

.dates-sousmenu{
  font-size: 12px;
  padding-left: 0
}

/* HEADER ET NAV - snippet menu.php*/
nav.menu{
  position: fixed;
  z-index: 1000;
  top: 0;
  padding: 1em;
  transition: all 0.5s;
  > ul.menu-first{
    display: flex;
    > li{
      flex: 1 1 100%;
      display: block;
      text-align: center;
      > a {
        font-weight: bold;
        font-size: 1.65rem;
        line-height: 1.2;
        //display:block;
        &:hover, &.active{
          text-decoration: underline;
        }
      }
      &:hover .submenu {
        display: block;
      }
      .submenu{
        display:none;
        margin-left:0;
        background:#FFF;
        padding: 1em;
        border-bottom: $box-border;
        border-left: $box-border;
        border-right: $box-border;

        li {
          text-align: left;
          margin-bottom: 0.3em;
          .dates-sousmenu{
            font-size: 12px;
          }
          a {
            &:hover{
              text-decoration:underline;
            }
          }
        }
      }
    }
  }
  &.transparent{
    opacity: 0.3;
    filter: blur(2px);
  }
  &:hover{
    opacity:1;
    filter: none;
  }
}

header{
  position:fixed;
  z-index: 1;
  bottom: 1.5em;
  left:1.5em;
}

/*END HEADER ET MENU*/

// Style qu'on retrouve sur plusieurs pages
.close-button{
    font-family:helvetica, sans-serif;
    color: $rouge;
    font-size: 1.3em;
    position:absolute;
    top:0;
    right: 20px;
    cursor: pointer;
}


main{
  padding-top: 100px;
}

.sources{
  border-top: 1px solid $text-color;
  padding-top:1em;
}

.read-more, .read-less{
  height: 70px;
  position: absolute;
  left:3px;
  right:3px;
  bottom: 3px;
  cursor: pointer;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,00ff9a+100 */
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 0%, #00ff9a 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ffffff 0%,#00ff9a 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ffffff 0%,#00ff9a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ff9a',GradientType=0 ); /* IE6-9 */
  span{
    color: #FFF;
    font-size: 2.5em;
    font-family: helvetica, sans-serif;
    text-align: center;
    display:block;
    padding-top:10px;
    text-shadow: 0px 0px 10px #FFF;
  }
}

.loadPage{
  position:absolute;
  height:auto;
  max-height:70vh;
  top: 0;
  left:0;
  display:none;
  z-index: 999;
  background: #FFF;
  padding: 1em 2em;
  border: $box-border;
  overflow:scroll;
  @include boxShadow($rouge);
  &[data-quotes="non"]{
    hr{
      display:none;
    }
    .definition-wrapper{
      blockquote{
        display:none;
      }
    }
  }
  h1{
    font-size: 2em;
    font-weight:bold;
    line-height: 1;
    margin-top: 0;
    margin-bottom: 0.5em;
  }
}

#subpage {
  display: flex;
  flex-wrap: wrap;
  li {
    margin: 1em 1em;
    width: calc(100% - 2em);
    .submenu-text-wrapper{
      border:3px solid $vert;
      background: $vert;
      padding: 0.5em;
      h2{
        margin-top: 5px;
        margin-bottom:0;
        font-size:1.3rem;
      }
    }
    a {
      line-height:1;
      text-decoration:none;
      display:block;
      &:hover{
        color: $text-color;
        @include boxShadow($rouge);
      }
      &:hover .submenu-text-wrapper{
        background:#FFF;
      }
    }
    .cover-wrapper {
      img {
        width: 100%;
      }
    }
  }

  @media #{$medium-up} {
    li { width: calc(50% - 2em); }
  }
  @media #{$large-up} {
    li { width: calc(33% - 2em); }
  }
}

/* TEXTE*/
.text-wrapper {
  border: $box-border;
  padding: 20px;
  display: block;
  margin-bottom: 3em;
  background-color: #FFFFFF;
  a{
    text-decoration: underline;
    &:hover{
      color: $vert;
    }
  }
  a[title="definition"]{
    //pointer-events: none;
  }
}

// END Style qu'on retrouve sur plusieurs pages

/* SNIPPET BREADCRUMB - */
nav.breadcrumb {
  padding: 0;
  ul {
    margin: 0;
    background-color: $vert;
    display: flex;
    flex-wrap: wrap;
    padding: 0 10px 3px 10px;
  }
  li {
    margin-left: 3px;
    a {
      @include tinyText;
      &:hover{
        text-decoration: underline;
      }
    }
  }
}
/*-- END BREADCRUMB --*/

// HOME - home.php
body[data-template="home"]{
  main{
    padding-top:70px;
  }
  .citation-wrapper{
    border: $box-border;
    background: #FFF;
    @include boxShadow($rouge);
    position: absolute;
    top:0;
    left:0;
    padding: 1em;
    z-index: 999;
    cursor: move;
    display:none;
    p{
        font-size: 1.5em;
        margin-bottom: 0;
    }
  }
}


/* PAGE DEFINITIONS -- definition.php*/
body[data-template="definitions"], body[data-template="labo"], body[data-template="valorization"]{
  main{
    &.in{
      .letter{
        .inner-definition{
          color: $vert;
        }
      }
      .definition[data-inoff='off']{
        display:none;
      }
    }
    &.off{
      .letter{
        .inner-definition{
          color: $rouge !important;
        }
      }
    }
    .etat{
      //color: $vert;
    }
    .left-sidebar{
      position:fixed;
      z-index: 10;
      .inoff-button, .abc, .sources-button, > ul{
        > div, > li{
          border: $box-border;
          display:inline-block;
          vertical-align: top;
          padding: 0.5em 0.8em;
          cursor: pointer;
          font-weight: bold;
          font-size: 1em;
          margin-bottom: 0.5em;

          color: $text-color;
          &.active, &:hover{
            background:$vert;
          }
        }
      }
      .abc{
        width: 120%;
        margin-top: 0.5em;
        > ul{
          border: $box-border;
          padding: 1em;
          background-color:#FFF;
          margin-top: -3px;
          display:none;
          > li{
            display:inline-block;
            vertical-align: top;
            //cursor: pointer;
            font-weight: bold;
            font-size: 1.3em;
            //padding: 0 0.5em;
            text-align: center;
            width: 20px;
            margin-bottom: 20px;
            border:none;
            a:hover{
              color: $rouge;
            }
          }
        }
      }
    }
    ul {
      > li.definition {
        margin-bottom: 1.8em;
        .inner-definition{
          background: #FFF;
          border: $box-border;
          cursor: pointer;
          height: 200px;
          overflow:hidden;
          padding: 10px 18px;
          p {
            margin-top: 15px;
            font-size: 0.95rem;
          }
          img {
              width: 80%;
          }
        }

        &.letter{
          .inner-definition{
            font-size: 7rem;
            text-align: center;
            line-height: 1.4;
            cursor:default;
            color: $vert;
            font-weight:normal;

            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }
  }
}

body[data-template="labo"]{
  main{
    .left-sidebar{
      > ul{
        > div, > li{
          display:block;
          margin-bottom: 0.5em;
          padding: 0;
          border:none;
          &.active, &:hover{
            background:transparent;
          }
          a{
            border: $box-border;
            display:inline-block;
            vertical-align: top;
            padding: 0.5em 0.8em;
            cursor: pointer;
            font-weight: bold;
            font-size: 1em;
            color: $text-color;
            &.active, &:hover{
              background:$vert;
            }
          }

        }
      }
    }
  }
}

body[data-template="textelong"]{
  .text-wrapper{
    padding-bottom: 120px;
    .more-text{
      display:none;
    }
  }
  a[title="definition"]{
    //position: relative;
  }
  .small-def{
    position: absolute;
    //top: 80px;
    width: 400px;
    background-color: $text-color;
    padding:1rem;
    p,a{
      color: #FFF;
      font-size: 0.9rem;
      line-height: 1.2;
      margin-bottom:0;
    }
  }
}

.publi-dodoc{
  > div{
    width: 210mm;
    margin:auto;
    left:0;
  }
  // .breadcrumb{
  //   width: 210mm;
  // }
  // .text-wrapper{
  //   width: 210mm;
  //   margin:auto;
  // }
}

// design des publications venant de dodoc
.publi-content{
  // padding-bottom: 150px;
  position: relative;
  min-height:auto;
  & > div {
    width: 100%;
    height: 297mm;
    // height: calc(297mm);
    min-height: auto;
    position:relative;
  }
  h1,p{
    margin:0;
  }
  h1{
    margin-top:.63888889em;
  }

  .publi-element{
    max-width: 100%;
    margin-left: -10mm;
    position: absolute;
    overflow: hidden;
    // min-width: 20mm;
    // min-height: 20mm;
    transform-origin: top left;
    p{
      font-size: 1.2em;
      span{
        font-size: 1.4em !important;
      }
    }
    video{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    audio{
      width: 100%;
    }
    figure{
      margin:0;
      overflow: hidden;
      height: 100%;
      width: 100%;
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

@import "_print.scss";
@import "_responsive.scss";
