/*.pagination-page {height:21cm; width:15cm;background-color: white;}
@page {size:15cm 21cm;}
body {background-color: #efefef;}
.pagination-simple {padding: 1cm;}
@media screen{.pagination-page {border: solid 1px #000; margin-bottom:0.5cm;}}
.pagination-main-contents-container {width:12cm;}
.pagination-contents-container {bottom:1cm; height:19cm; display: -webkit-flex; display: flex;}
img {max-height: 7.98in;max-width: 6.04in;}
.pagination-pagenumber {bottom:0.5cm;}
.pagination-header {top:0.5cm;}
#pagination-toc-title:before {content:'Contents';}
#pagination-tof-title:before {content:'Figures';}
#pagination-tot-title:before {content:'Tables';}
.pagination-page:nth-child(odd) .pagination-contents-container, .pagination-page:nth-child(odd) .pagination-pagenumber,.pagination-page:nth-child(odd) .pagination-header {right:1cm;left:1cm;}
.pagination-page:nth-child(even) .pagination-contents-container, .pagination-page:nth-child(even) .pagination-pagenumber,.pagination-page:nth-child(even) .pagination-header {right:1cm;left:1cm;}
.pagination-page:nth-child(odd) .pagination-pagenumber,.pagination-page:nth-child(odd) .pagination-header {text-align:right;}
.pagination-page:nth-child(even) .pagination-pagenumber,.pagination-page:nth-child(even) .pagination-header {text-align:left;}
.pagination-footnote > * > * {font-size: 0.7em; margin:.25em;}
.pagination-footnote > * > *::before, .pagination-footnote::before {position: relative; top: -0.5em; font-size: 80%;}
.pagination-toc-entry .pagination-toc-pagenumber, .pagination-tof-entry .pagination-tof-pagenumber, .pagination-tot-entry .pagination-tot-pagenumber {float:right}
.pagination-contents-item {width:12cm;}
.pagination-frontmatter-contents {width:12cm;}
.pagination-contents-column-separator {width:0.09in;}
.pagination-simple .pagination-footnote > span {position: absolute; right: 0in; width: 1in;}
.pagination-marginnotes, .pagination-marginnote-item {width:0in;}
.pagination-marginnote-item {margin-bottom:0.09in;}
.pagination-marginnotes-separator {width:0in;}
.pagination-main-contents-container, .pagination-marginnotes, .pagination-marginnotes-separator {height:19cm;}        #flow {
                                                                                                                            display: none;
                                                                                                                        }

.pagination-main-contents-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
}

.pagination-contents-container {
    position: absolute;
}

.pagination-contents {
    display: -webkit-flex;
    -webkit-flex: 1;
    display: flex;
    flex: 1;
}

/* There seems to be a bug in the new flexbox model code which requires the
 * height to be set to an arbitrary value (which is ignored).
 */
.pagination-contents {
    height: 0;
}

.pagination-contents-column {
    -webkit-flex: 1;
    flex: 1;
}

body {
    counter-reset: pagination-footnote pagination-footnote-reference;
}

.pagination-footnote::before {
    counter-increment: pagination-footnote-reference;
    content: counter(pagination-footnote-reference);
}

.pagination-footnote > * > *:first-child::before {
    counter-increment: pagination-footnote;
    content: counter(pagination-footnote);
}

.pagination-footnote > * > * {
    display: block;
}

.pagination-page {

    margin-left: auto;
    margin-right: auto;
    page-break-after: always;
    position: relative;

}

img {
    -webkit-region-break-before: always;
    break-before: always;
    -webkit-region-break-after: always;
    break-after: always;
}

.pagination-pagenumber, .pagination-header {
    position: absolute;
}

.pagination-pagebreak {
    -webkit-region-break-after: always;
    break-after: always;
}

.pagination-simple {
    height: auto;
    position: relative;
}

.pagination-marginnote-item {
    position: absolute;
}

.pagination-marginnote > * {
    display: block;
}
.pagination-frontmatter-layout .pagination-contents-column {
    flow-from: pagination-frontmatter;
}

.pagination-frontmatter-contents {
    flow-into: pagination-frontmatter;
} .pagination-body-0-layout .pagination-contents-column {
      flow-from: pagination-body-0;
  }
.pagination-body-0-contents {
    flow-into: pagination-body-0;
}
.pagination-body-1-layout .pagination-contents-column {
    flow-from: pagination-body-1;
}
.pagination-body-1-contents {
    flow-into: pagination-body-1;
}
.pagination-body-2-layout .pagination-contents-column {
    flow-from: pagination-body-2;
}
.pagination-body-2-contents {
    flow-into: pagination-body-2;
}*/